<h1>Create a comment</h1>

<%= form_for @comment do |f| %>

    <%= f.collection_select :user_id, User.all, :id, :username %>

    <%= f.label :content %>
    <%= f.text_field :content %>


    <%= f.submit "Create comment" %>

<% end %>